<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.addenda.mybatisbasemodel.simple.UserMapper">
  <resultMap type="cn.addenda.mybatisbasemodel.simple.User" id="UserMap">
    <id property="id" column="id" jdbcType="INTEGER"/>
  </resultMap>

  <sql id="allColumn">
    `id`, `nickname`, `age`, `birthday`, `creator`, `creator_name`, `create_time`, `modifier`, `modifier_name`,
    `modify_time`, `host`
  </sql>

  <sql id="setCondition">
    <if test="id != null">
      `id` = #{id,jdbcType=INTEGER},
    </if>
    <if test="nickname != null">
      `nickname` = #{nickname,jdbcType=VARCHAR},
    </if>
    <if test="age != null">
      `age` = #{age,jdbcType=INTEGER},
    </if>
    <if test="birthday != null">
      `birthday` = #{birthday,jdbcType=TIMESTAMP},
    </if>
  </sql>

  <sql id="queryCondition">
    <if test="id != null">
      and `id` = #{id,jdbcType=INTEGER}
    </if>
    <if test="nickname != null">
      and `nickname` = #{nickname,jdbcType=VARCHAR}
    </if>
    <if test="age != null">
      and `age` = #{age,jdbcType=INTEGER}
    </if>
    <if test="birthday != null">
      and `birthday` = #{birthday,jdbcType=TIMESTAMP}
    </if>
  </sql>


  <update id="createTable">
    create table `user`
    (
    `id` bigint auto_increment not null
    primary key,
    `nickname` varchar(36) null,
    `age` int null,
    `birthday` datetime(3) null,
    `creator` varchar(36) null,
    `creator_name` varchar(36) null,
    `create_time` datetime(3) null,
    `modifier` varchar(36) null,
    `modifier_name` varchar(36) null,
    `modify_time` datetime(3) null,
    `host` varchar(36) null
    )
  </update>

  <update id="dropTable">
    DROP TABLE IF EXISTS `user`
  </update>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into `user`
    <trim prefix="set" suffixOverrides=",">
      <include refid="setCondition"/>
    </trim>
  </insert>

  <update id="updateById">
    update `user`
    <trim prefix="set" suffixOverrides=",">
      <include refid="setCondition"/>
    </trim>
    where `id` = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteById">
    delete from `user` where `id` = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByEntity">
    delete from `user`
    <trim prefix="where" prefixOverrides="and">
      <include refid="queryCondition"/>
    </trim>
  </delete>

  <delete id="deleteByEntity2">
    delete from `user`
    <trim prefix="where" prefixOverrides="and">
      <include refid="queryCondition"/>
    </trim>
  </delete>

  <select id="queryByEntity" resultMap="UserMap">
    select
    <include refid="allColumn"/>
    from `user`
    <trim prefix="where" prefixOverrides="and">
      <include refid="queryCondition"/>
    </trim>
  </select>

  <select id="queryById" resultMap="UserMap">
    select
    <include refid="allColumn"/>
    from `user`
    <trim prefix="where" prefixOverrides="and">
      `id` = #{id,jdbcType=INTEGER}
    </trim>
  </select>

  <select id="queryByIdList" resultMap="UserMap">
    select
    <include refid="allColumn"/>
    from `user`
    <trim prefix="where" prefixOverrides="and">
      `id` in
      <foreach collection="idList" open="(" close=")" item="id" separator=",">
        #{id,jdbcType=INTEGER}
      </foreach>
    </trim>
  </select>

  <select id="countByEntity" resultType="java.lang.Long">
    select count(*) from `user`
    <trim prefix="where" prefixOverrides="and">
      <include refid="queryCondition"/>
    </trim>
  </select>

  <update id="update">
    update `user`
    set
    `nickname` = #{nickName,jdbcType=VARCHAR},
    `modify_tm` = now(),
    `modifier` = #{modifier,jdbcType=VARCHAR},
    `modifier_name` = #{modifierName,jdbcType=VARCHAR}
    where
    `id` = #{id,jdbcType=BIGINT}
  </update>

  <update id="increment">
    update `user`
    set
    `age` = `age` + 1,
    `modify_tm` = now(),
    `modifier` = #{modifier,jdbcType=VARCHAR},
    `modifier_name` = #{modifierName,jdbcType=VARCHAR}
    where
    `nickname` = #{nickName,jdbcType=VARCHAR}
  </update>

  <insert id="insert2">
    insert into `user`
    set nickname = #{nickName,jdbcType=VARCHAR},
    age = #{age,jdbcType=INTEGER},
    birthday = #{birthday,jdbcType=TIMESTAMP}
  </insert>

  <update id="updateById2">
    update `user`
    set nickname = #{nickName,jdbcType=VARCHAR},
    age = #{age,jdbcType=INTEGER},
    birthday = #{birthday,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insert3" keyProperty="id" useGeneratedKeys="true">
    insert into `user`
    <trim prefix="set" suffixOverrides=",">
      <include refid="setCondition"/>
    </trim>
  </insert>

  <update id="updateById3">
    update `user`
    <trim prefix="set" suffixOverrides=",">
      <include refid="setCondition"/>
    </trim>
    where `id` = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insert4" keyProperty="id" useGeneratedKeys="true">
    insert into `user`
    <trim prefix="set" suffixOverrides=",">
      <include refid="setCondition"/>
    </trim>
  </insert>

  <update id="updateById4">
    update `user`
    <trim prefix="set" suffixOverrides=",">
      <include refid="setCondition"/>
    </trim>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>

